.highlight-settings {
  padding: 0 20px;
}

.highlight-settings form {
  padding: 0 40px;
}

.highlight-settings__enable-switcher {
  padding: 12px 0;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.highlight-settings_highlight-disabled * {
  pointer-events: none;
}
